<div class="gl_plugin artist-hits">
    <!-- hit other songs artist -->
    <div class="title" id="goraca20">
        <h1>AKTUALNE NOTOWANIE</h1>
    </div>
    <div class="single-hit">
        <div class="single-hit__positions">
            <div class="single-hit__position">16</div>
            <div class="single-hit__updown">▲</div>
        </div>
        <div class="hit-image">
            <a href="/hit/avicii-aloe-blacc-sos/359615" title="SOS">
                <figure>
                    <img src="https://t-eska.cdn.smcloud.net/common/g/F/s/zg2483431gYHN.jpg/ru-1-r-86,86-n-zg2483431gYHN.jpg" alt="SOS">
                </figure>
            </a>
        </div>
        <div class="single-hit__info">
            <a href="/hit/avicii-aloe-blacc-sos/359615" class="single-hit__title">SOS</a>
            <ul>
                <li>
                    <a href="/hit/avicii-aloe-blacc-sos/359615" class="single-hit__author">Avicii</a>
                </li>
                <li>
                    <a href="/hit/avicii-aloe-blacc-sos/359615" class="single-hit__author">Aloe Blacc</a>
                </li>
            </ul>
            <a href="/hit/avicii-aloe-blacc-sos/359615#hit--lyrics" class="single-hit__lyrics">TEKST</a>
        </div>
        <div class="single-hit__buttons">
            <a class="listen-box" data-song-name="SOS" data-song-author="Avicii;Aloe Blacc;">
                <audio data-src="https://c04.common.smcloud.net/s/FS2483449Hllw.mp3" type="audio/mpeg" id="hit_359615"></audio>
                <div class="listen-box__icon" onclick="playSong(this,'hit_359615')"></div>
            </a>
            <a class="single-hit__vote" data-hit-position="16" data-hit-name="SOS"></a>
        </div>
    </div>
    <div class="single-hit">
        <div class="single-hit__positions">
            <div class="single-hit__position">17</div>
            <div class="single-hit__updown">▼</div>
        </div>
        <div class="hit-image">
            <a href="/hit/drenchill-indiiana-freed-from-desire/359302" title="Freed From Desire">
                <figure>
                    <img src="https://t-eska.cdn.smcloud.net/common/g/F/s/pi2471559sC30.jpg/ru-1-r-86,86-n-pi2471559sC30.jpg" alt="Freed From Desire">
                </figure>
            </a>
        </div>
        <div class="single-hit__info">
            <a href="/hit/drenchill-indiiana-freed-from-desire/359302" class="single-hit__title">Freed From Desire</a>
            <ul>
                <li>
                    <a href="/hit/drenchill-indiiana-freed-from-desire/359302" class="single-hit__author">Drenchill</a>
                </li>
                <li>
                    <a href="/hit/drenchill-indiiana-freed-from-desire/359302" class="single-hit__author">Indiiana</a>
                </li>
            </ul>
        </div>
        <div class="single-hit__buttons">
            <a class="listen-box" data-song-name="Freed From Desire" data-song-author="Drenchill;Indiiana;">
                <audio data-src="https://c02.common.smcloud.net/s/pO2472359hTR1.mp3" type="audio/mpeg" id="hit_359302"></audio>
                <div class="listen-box__icon" onclick="playSong(this,'hit_359302')"></div>
            </a>
            <a class="single-hit__vote" data-hit-position="17" data-hit-name="Freed From Desire"></a>
        </div>
    </div>
    <div class="single-hit">
        <div class="single-hit__positions">
            <div class="single-hit__position">2</div>
            <div class="single-hit__updown">▲</div>
        </div>
        <div class="hit-image">
            <a href="/hit/imagine-dragons-bad-liar/359228" title="Bad Liar">
                <figure>
                    <img src="https://t-eska.cdn.smcloud.net/common/g/F/s/Yq2468757XNKY.jpg/ru-1-r-86,86-n-Yq2468757XNKY.jpg" alt="Bad Liar">
                </figure>
            </a>
        </div>
        <div class="single-hit__info">
            <a href="/hit/imagine-dragons-bad-liar/359228" class="single-hit__title">Bad Liar</a>
            <ul>
                <li>
                    <a href="/hit/imagine-dragons-bad-liar/359228" class="single-hit__author">Imagine Dragons</a>
                </li>
            </ul>
            <a href="/hit/imagine-dragons-bad-liar/359228#hit--lyrics" class="single-hit__lyrics">TEKST</a>
        </div>
        <div class="single-hit__buttons">
            <a class="listen-box" data-song-name="Bad Liar" data-song-author="Imagine Dragons;">
                <audio data-src="https://c04.common.smcloud.net/s/xI2476872VTz3.mp3" type="audio/mpeg" id="hit_359228"></audio>
                <div class="listen-box__icon" onclick="playSong(this,'hit_359228')"></div>
            </a>
            <a class="single-hit__vote" data-hit-position="2" data-hit-name="Bad Liar"></a>
        </div>
    </div>
    <div class="single-hit">
        <div class="single-hit__positions">
            <div class="single-hit__position">40</div>
            <div class="single-hit__updown">▼</div>
        </div>
        <div class="hit-image">
            <a href="/hit/calvin-harris-rag-n-bone-man-giant/359360" title="Giant">
                <figure>
                    <img src="https://t-eska.cdn.smcloud.net/common/g/F/s/ee2474253Qx3o.jpg/ru-1-r-86,86-n-ee2474253Qx3o.jpg" alt="Giant">
                </figure>
            </a>
        </div>
        <div class="single-hit__info">
            <a href="/hit/calvin-harris-rag-n-bone-man-giant/359360" class="single-hit__title">Giant</a>
            <ul>
                <li>
                    <a href="/hit/calvin-harris-rag-n-bone-man-giant/359360" class="single-hit__author">Calvin Harris</a>
                </li>
                <li>
                    <a href="/hit/calvin-harris-rag-n-bone-man-giant/359360" class="single-hit__author">Rag&#39;N&#39;Bone Man</a>
                </li>
            </ul>
        </div>
        <div class="single-hit__buttons">
            <a class="listen-box" data-song-name="Giant" data-song-author="Calvin Harris;Rag&#39;N&#39;Bone Man;">
                <audio data-src="https://c04.common.smcloud.net/s/ml24752568m00.mp3" type="audio/mpeg" id="hit_359360"></audio>
                <div class="listen-box__icon" onclick="playSong(this,'hit_359360')"></div>
            </a>
            <a class="single-hit__vote" data-hit-position="40" data-hit-name="Giant"></a>
        </div>
    </div>
    <!-- $Source$ -->
    <div class="zpr_box_inside_2">
        <!-- $Source$ -->
        <!-- $Source$ -->
        <div id="inside_2" class="zpr_inside_2">
            <script type="text/javascript">
                sas_idmnet.release("inside_2");
            </script>
        </div>
        <!-- /$Source$ -->
        <!-- /$Source$ -->
    </div>
    <!-- /$Source$ -->
    <div class="title" id="propozycje">
        <h1>PROPOZYCJE</h1>
    </div>
    <div class="single-hit">
        <div class="single-hit__positions">
            <div class="single-hit__updown"></div>
        </div>
        <div class="hit-image">
            <a href="/hit/alvaro-soler-la-libertad/359690" title="La Libertad">
                <figure>
                    <img src="https://t-eska.cdn.smcloud.net/common/g/F/s/Sz24859778w5l.jpg/ru-1-r-86,86-n-Sz24859778w5l.jpg" alt="La Libertad">
                </figure>
            </a>
        </div>
        <div class="single-hit__info">
            <a href="/hit/alvaro-soler-la-libertad/359690" class="single-hit__title">La Libertad</a>
            <ul>
                <li>
                    <a href="/hit/alvaro-soler-la-libertad/359690" class="single-hit__author">Alvaro Soler</a>
                </li>
            </ul>
            <a href="/hit/alvaro-soler-la-libertad/359690#hit--lyrics" class="single-hit__lyrics">TEKST</a>
        </div>
        <div class="single-hit__buttons">
            <a class="listen-box" data-song-name="La Libertad" data-song-author="Alvaro Soler;">
                <audio data-src="https://c01.common.smcloud.net/s/BG2486084JXeB.mp3" type="audio/mpeg" id="hit_359690"></audio>
                <div class="listen-box__icon" onclick="playSong(this,'hit_359690')"></div>
            </a>
            <a class="single-hit__vote" data-hit-position="41" data-hit-name="La Libertad"></a>
        </div>
    </div>
    <!-- /hit other songs artist -->
</div>